/**
 * Eléments génériques
 */

 body {
  --color-primary: #B266FF;    
  --color-secondary: #D08A21;
  --color-tertiary: #2c3134;
  --background-color: #22272a
  
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 4em;
  color: white;
  border: solid 5px;
  border-color: var(--color-primary);
  border-radius: 5px;
  padding: 10px;
}
h2 {
  font-family: 'Russo One', sans-serif;
}



.color1 {
  color: var(--color-primary);
}

.color2 {
  color: var(--color-secondary);
}

.russo {
  font-family: 'Russo One', sans-serif;
}


.App {
  text-align: center;
}



.App-header {
  background-color: var(--color-tertiary);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-main {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  color: white;
  height: 5vh;
}

.App-footer p {
  margin: auto;
}


.btn {
  background-color: #18BC9C;
  color: white;
  border: none;
}

